@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <label>
            Name : @context.User.FindFirst(ClaimTypes.Name)!.Value
            <br />
            Role : @context.User.FindFirst(ClaimTypes.Role)!.Value
        </label>
    </Authorized>
    <NotAuthorized>
        You are not authorize...
    </NotAuthorized>
</AuthorizeView>