@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <label>
            User Name @context.User.FindFirst("Name")!.Value
            <br />
            Role: @context.User.FindFirst("Role")!.Value
        </label>
    </Authorized>
    <NotAuthorized>
        You are not authorize...
    </NotAuthorized>
</AuthorizeView>